# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb

*.ppm
x86
ipch/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.db

# Executables
*.exe
*.out
*.app

# Folders
Release
Debug
.vs

# Misc
*.DS_Store